.subscription-inner.subscription-form{
    background: none;
    color:black;
    width: 1200px;
    margin-top: 56px;
    margin-bottom: 141px;
    padding: 0;
  }

  .subscription-form > .subscription-title{
    position: relative;
    top: 16px;
  }

  .subscription-inner > .subscription-decription{
    margin: 62px auto 46px auto;
  }

  .subscription-decription.subscription-decription-inner{
    color:#333333;
  }